.n24-header-menu {
  background-image: linear-gradient(180deg, rgb(23 29 142), rgba(0, 0, 0, 0));
  padding: 15px 80px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}
.n24-header-menu * {
  box-sizing: border-box;
}
.n24-header-menu.n24-header-menu-sticky {
  position: fixed;
}
.n24-header-menu .n24-header-menu-inner-left {
  float: left;
  width: 440px;
}
.n24-header-menu .n24-header-menu-inner-left img {
  width: 100%;
}
.n24-header-menu .n24-header-menu-inner-right {
  text-align: right;
}
.n24-header-menu .n24-header-menu-link li {
  display: inline-block;
  font-size: 14px;
  position: relative;
  vertical-align: middle;
}
.n24-header-menu .n24-header-menu-link li:not(:first-child) {
  padding-left: 15px;
  margin-left: 15px;
}
.n24-header-menu .n24-header-menu-link li:not(:first-child)::before {
  content: '';
  display: block;
  width: 1px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.n24-header-menu .n24-header-menu-link li a {
  color: #fff;
}
.n24-header-menu .n24-header-menu-link .m-nav-change-btn {
  display: none;
}
.n24-header-menu .n24-header-menu-link .n24-page-search {
  position: relative;
  cursor: pointer;
}
.n24-header-menu .n24-header-menu-link .n24-page-search .n24-page-search-input {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: #fff;
  padding: 5px;
  padding-right: 60px;
  display: none;
  z-index: 1100;
}
.n24-header-menu .n24-header-menu-link .n24-page-search .n24-page-search-input button,
.n24-header-menu .n24-header-menu-link .n24-page-search .n24-page-search-input input {
  line-height: 30px;
}
.n24-header-menu .n24-header-menu-link .n24-page-search .n24-page-search-input input {
  display: block;
  width: 300px;
  border: 1px solid #ddd;
  padding: 0 15px;
}
.n24-header-menu .n24-header-menu-link .n24-page-search .n24-page-search-input button {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 30px;
  width: 40px;
  height: 30px;
  text-align: center;
  background-color: #171d8e;
  color: #fff;
}
.n24-header-menu .n24-header-menu-link .n24-page-search .n24-page-search-input .close {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: 500ms;
}
.n24-header-menu .n24-header-menu-link .n24-page-search .n24-page-search-input .close:hover {
  transform: rotate(225deg);
}
.n24-header-menu .n24-header-menu-link .n24-page-search .n24-page-search-input .close::before,
.n24-header-menu .n24-header-menu-link .n24-page-search .n24-page-search-input .close::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #d2d2d2;
}
.n24-header-menu .n24-header-menu-link .n24-page-search .n24-page-search-input .close::after {
  transform: rotate(90deg);
}
.n24-header-menu .n24-header-menu-list {
  float: right;
  font-size: 18px;
  padding-top: 10px;
}
.n24-header-menu .n24-header-menu-list li {
  float: left;
  position: relative;
}
.n24-header-menu .n24-header-menu-list li a {
  padding: 0 45px;
  padding-bottom: 25px;
  color: #fff;
}
.n24-header-menu .n24-header-menu-list li::before {
  content: '';
  display: block;
  width: 1px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
}
.n24-header-menu .n24-header-menu-list li:first-child {
  padding-left: 0;
}
.n24-header-menu .n24-header-menu-list li:first-child::before {
  display: none;
}
.n24-header-menu .n24-header-menu-list li:last-child {
  padding-right: 0;
}
.n24-header-menu .n24-header-menu-list li:hover .n24-header-menu-dropdown-list {
  opacity: 1;
  visibility: visible;
}
.n24-header-menu .n24-header-menu-list li:last-child a {
  padding-right: 0;
}
.n24-header-menu .n24-header-menu-list .n24-header-menu-dropdown-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 25px;
  opacity: 0;
  visibility: hidden;
  transition: 500ms;
}
.n24-header-menu .n24-header-menu-list .n24-header-menu-dropdown-list .n24-header-menu-dropdown-list-inner {
  position: relative;
  background-color: #fff;
}
.n24-header-menu .n24-header-menu-list .n24-header-menu-dropdown-list .n24-header-menu-dropdown-list-inner::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 9px solid #fff;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  top: -9px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.n24-header-menu .n24-header-menu-list .n24-header-menu-dropdown-list a {
  color: #333;
  padding: 0 10px;
  text-align: center;
  display: block;
  line-height: 1.5;
  font-size: 16px;
  white-space: nowrap;
}
.n24-header-menu .n24-header-menu-list .n24-header-menu-dropdown-list a span {
  display: block;
  padding: 12px 0;
}
.n24-header-menu .n24-header-menu-list .n24-header-menu-dropdown-list a:hover {
  background-color: rgba(23, 28, 143, 0.1);
}
.n24-header-menu .n24-header-menu-list .n24-header-menu-dropdown-list a:not(:last-child) span {
  border-bottom: 1px dashed #d2d2d2;
}
.n24-m-header-nav-wrap {
  display: none;
}
@media (max-width: 1600px) {
  .n24-header-menu {
    padding: 14px 80px;
  }
  .n24-header-menu .n24-header-menu-list{
    padding-top: 14px;
    font-size: 16px;
  }
  .n24-header-menu .n24-header-menu-list li a {
    padding: 0 26px;
  }
}
@media (max-width: 1400px) {
  .n24-header-menu .n24-header-menu-link li {
    font-size: 12px;
  }
  .n24-header-menu .n24-header-menu-list {
    padding-top: 10px;
  }
  .n24-header-menu .n24-header-menu-list li a {
    padding: 0 15px;
  }
  .n24-header-menu .n24-header-menu-list .n24-header-menu-dropdown-list a {
    font-size: 14px;
  }
}
@media (max-width: 1280px) {
  .n24-header-menu {
    padding: 8px 50px;
  }
  .n24-header-menu .n24-header-menu-inner-left {
    width: 340px;
  }
  .n24-header-menu .n24-header-menu-inner-left img {
    margin-top: 8px;
  }
  .n24-header-menu .n24-header-menu-list {
    font-size: 14px;
  }
  .n24-header-menu .n24-header-menu-list li a {
    padding: 0 15px;
  }
  .n24-header-menu .n24-header-menu-list .n24-header-menu-dropdown-list a {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .n24-header-menu {
    background-color: #171d8e;
    background-image: none;
    padding: 10px;
    height: 60px;
  }
  .n24-header-menu .n24-header-menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .n24-header-menu .n24-header-menu-inner-left {
    width: 200px;
  }
  .n24-header-menu .n24-header-menu-list {
    display: none;
  }
  .n24-header-menu .n24-header-menu-link {
    display: flex;
    justify-content: flex-end;
  }
  .n24-header-menu .n24-header-menu-link li {
    display: none;
  }
  .n24-header-menu .n24-header-menu-link li.n24-page-search,
  .n24-header-menu .n24-header-menu-link li.m-nav-change-btn {
    padding-left: 0;
  }
  .n24-header-menu .n24-header-menu-link li.n24-page-search::before,
  .n24-header-menu .n24-header-menu-link li.m-nav-change-btn::before {
    display: none;
  }
  .n24-header-menu .n24-header-menu-link .n24-page-search {
    display: block;
  }
  .n24-header-menu .n24-header-menu-link .n24-page-search::before {
    display: none;
  }
  .n24-header-menu .n24-header-menu-link .n24-page-search .n24-page-search-input {
    position: fixed;
    top: 60px;
    width: 100%;
    left: 0;
    box-sizing: border-box;
  }
  .n24-header-menu .n24-header-menu-link .m-nav-change-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 500ms;
    width: 20px;
    height: 15px;
  }
  .n24-header-menu .n24-header-menu-link .m-nav-change-btn::before {
    display: none;
  }
  .n24-header-menu .n24-header-menu-link .m-nav-change-btn span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 500ms;
    transform-origin: left;
  }
  .n24-header-menu .n24-header-menu-link .m-nav-change-btn.active span:nth-child(1) {
    transform: rotate(45deg);
    width: 18px;
  }
  .n24-header-menu .n24-header-menu-link .m-nav-change-btn.active span:nth-child(3) {
    transform: rotate(-45deg);
    width: 18px;
  }
  .n24-header-menu .n24-header-menu-link .m-nav-change-btn.active span:nth-child(2) {
    width: 0;
  }
  .n24-m-header-nav-wrap {
    display: none;
    padding-top: 60px;
    position: fixed;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 900;
  }
  .n24-m-header-nav-wrap .n24-m-header-nav-wrap-inner {
    padding: 30px;
    overflow-y: auto;
  }
  .n24-m-header-nav-wrap .n24-m-header-nav-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .n24-m-header-nav-wrap .n24-m-header-nav-top li {
    width: 47%;
    text-align: center;
    border: 1px solid #171d8e;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .n24-m-header-nav-wrap .n24-m-header-nav-top li a {
    color: #171d8e;
    display: block;
  }
  .n24-m-header-nav-wrap .n24-header-menu-list {
    font-size: 16px;
    font-weight: bold;
  }
  .n24-m-header-nav-wrap .n24-header-menu-list li:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  .n24-m-header-nav-wrap .n24-header-menu-list .n24-header-menu-dropdown-list-wrap {
    position: relative;
  }
  .n24-m-header-nav-wrap .n24-header-menu-list .n24-header-menu-dropdown-list-wrap::after {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    top: 25px;
    width: 8px;
    height: 8px;
    border-top: 2px solid #171d8e;
    border-left: 2px solid #171d8e;
    transform: rotate(-135deg);
    transform-origin: center;
    transition: 500ms;
  }
  .n24-m-header-nav-wrap .n24-header-menu-list .n24-header-menu-dropdown-list-wrap.on::after {
    transform: rotate(45deg);
  }
  .n24-m-header-nav-wrap .n24-header-menu-list .n24-header-menu-dropdown-list-wrap .n24-header-menu-dropdown-list-inner {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #ccc;
    display: none;
  }
  .n24-m-header-nav-wrap .n24-header-menu-list .n24-header-menu-dropdown-list-wrap .n24-header-menu-dropdown-list-inner a {
    font-weight: normal;
    color: #333;
    padding: 0;
  }
  .n24-m-header-nav-wrap .n24-header-menu-list a {
    display: block;
    padding: 15px 0;
    color: #171d8e;
  }
  .sidebar-index {
    display: none;
  }

}
